---
import { Image } from "astro:assets"
import wouterImage from "../../assets/wouter.jpg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dr. Wouter</title>
	</head>
	<Image
		src={wouterImage}
		alt="Picture of Wouter"
	/>
	<a href="https://wouterlueks.nl/">Here's Wouter's actual page :P</a>
</html>
